h1 {
    text-align: center;
}

table {
    width: 640px;
    border: none;
    margin: 0 auto;
    background-color: darkslategray;
    color: white;
}

img {
    border: 1px solid black;
    float: left;
}

p {
    font-size: 1.3em;
}

a, a:active, a:hover, a:visited a:link {
    color: white;
}